* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: auto;
  background-color: #f0f0f0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home img {
  width: 100%;
  height: 100%;
}
.home div:nth-child(1) {
  align-self: center;
  padding: 0 40px 0 60px;
}
.home h1,
.home h3 {
  text-transform: uppercase;
}
.home h1 span:nth-child(2),
.home h3 span:nth-child(2) {
  color: #ffbf00;
}
.home h1 span,
.home h5 {
  font-weight: bold;
}
.home h5 {
  background-color: #ffbf00;
  padding: 2px 5px;
  display: inline-block;
}
.home p {
  text-align: justify;
  margin-bottom: 20px;
}
.home a {
  text-decoration: none;
  color: white;
  background-color: #ffbf00;
  padding: 10px;
  border-radius: 50px;
}
.home a:hover {
  background-color: #f0f0f0;
  color: #ffbf00;
  border: 2px solid #ffbf00;
}
.home h3,
.home h5 {
  margin-bottom: 20px;
}
main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: #f0f0f0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
main .one_stat {
  width: 100%;
  background-color: #ffbf00;
}
main .one_stat img {
  width: 100%;
}
main .list {
  text-align: center;
  text-transform: uppercase;
}
main .list li:hover {
  color: white;
  cursor: pointer;
}
main .two_2 .header_two_2 {
  width: 80%;
  border: 1px solid grey;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  padding: 20px;
  font-size: 30pt;
  margin: 40px auto;
}
main .two_2 .tw_1 {
  display: flex;
  flex-direction: column;
  gap: 3%;
  margin-bottom: 40px;
  text-align: justify;
  width: 80%;
  margin: auto;
}
main .two_2 .tw_1 .name_about_me {
  font-size: 20pt;
  margin-bottom: 20px;
}
main .two_2 .tw_1 .name_about_me .nameMe {
  font-weight: bold;
}
main .two_2 .tw_1 .text_about_me {
  font-size: 14pt;
  margin-bottom: 20px;
}
main .two_2 .tw_1 .two_about_me {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 100px;
}
main .two_2 .tw_1 .two_about_me .two_about_me_1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #ffbf00;
  background-color: black;
}
main .two_2 .tw_1 .two_about_me .two_about_me_1 .statistics {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  margin: auto;
  gap: 40px;
  text-align: center;
}
main .two_2 .tw_1 .two_about_me .two_about_me_1 .statistics div:nth-child(1) {
  margin: auto;
}
main .two_2 .tw_1 .two_about_me .two_about_me_1 .statistics p {
  color: white;
}
main .two_2 .tw_1 .two_about_me .two_about_me_1 .statistics .bold {
  font-weight: bold;
  font-size: 30pt;
  text-align: center;
}
main .two_2 .tw_1 .two_about_me .two_about_me_2 {
  margin-left: 20px;
}
main .two_2 .tw_1 .two_about_me .two_about_me_2 h4 {
  font-size: 20pt;
  margin-bottom: 20px;
}
main .two_2 .tw_1 .two_about_me .two_about_me_2 .facts_about_me {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: max-content;
}
main .two_2 .tw_1 .two_about_me .two_about_me_2 .facts_about_me .image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}
main .two_2 .tw_1 .two_about_me .two_about_me_2 .facts_about_me .image img {
  width: 100px;
  height: 100px;
}
main .two_2 .tw_1 .two_about_me .two_about_me_2 .facts_about_me .facts_text {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-left: 20px;
}
main .two_3 .header_two_3 {
  width: 80%;
  border: 1px solid grey;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  padding: 20px;
  font-size: 30pt;
  margin: 40px auto;
}
main .two_3 .rows {
  display: flex;
  gap: 3%;
  margin-bottom: 40px;
  text-align: justify;
}
main .two_3 .rows p {
  font-size: 10pt;
}
main .two_3 .tw_2 {
  width: 80%;
  margin: auto;
}
main .two_3 h3 {
  text-transform: uppercase;
  margin-bottom: 10px;
}
main .two_3 h4 {
  margin-bottom: 10px;
}
main .two_3 .head_color {
  background-color: #ffbf00;
  padding: 5px;
  color: white;
  display: inline-block;
  border-radius: 25px;
}
main .two_3 .h3_2 {
  margin-top: 40px;
}
main .two_3 .rows2 {
  margin-bottom: 80px;
}
main .two_4 .header_two_4 {
  width: 80%;
  border: 1px solid grey;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  padding: 20px;
  font-size: 30pt;
  margin: 40px auto;
}
main .two_4 .rows_4 {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2%;
  row-gap: 4%;
  margin: auto;
  margin-bottom: 80px;
}
main .two_4 .rows_4 .user_photo {
  width: 150px;
}
main .two_4 .rows_4 .col {
  background-color: black;
  padding: 5%;
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
main .two_4 .rows_4 .col > div:nth-child(3) {
  grid-row: 2;
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 10px;
}
main .two_4 .rows_4 .star img {
  width: 20px;
  height: 20px;
}
main .two_4 .rows_4 .text {
  justify-self: end;
}
main .two_4 .rows_4 .col > div:nth-child(2) {
  align-self: center;
}
main .two_4 .rows_4 .col > div:nth-child(2) h3,
main .two_4 .rows_4 .col > div:nth-child(2) h4,
main .two_4 .rows_4 .col > div:nth-child(2) p {
  margin-bottom: 5px;
}
main .two_4 .rows_4 .col > div:nth-child(2) h3 {
  font-size: 16pt;
  color: #ffbf00;
}
main .two_4 .rows_4 .col > div:nth-child(2) h4 {
  font-size: 12pt;
}
main .two_4 .rows_4 .col > div:nth-child(2) p {
  font-size: 10pt;
  text-align: justify;
}
main .two_5 {
  padding-bottom: 80px;
}
main .two_5 .header_two_5 {
  width: 80%;
  border: 1px solid grey;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  padding: 20px;
  font-size: 30pt;
  margin: 40px auto;
}
main .two_5 .porto_flex {
  width: 80%;
  margin: 20px auto 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2%;
  row-gap: 4%;
}
main .two_5 .porto_flex img {
  width: 100%;
  height: 270px;
  margin-bottom: 10px;
}
main .two_5 .two_5_stst ul {
  list-style-type: none;
  display: flex;
  gap: 2%;
  justify-content: center;
  margin-top: 20px;
  font-size: 16pt;
}
main .two_5 .two_5_stst .activ {
  font-weight: bold;
  color: #ffbf00;
  cursor: pointer;
}
main .two_5 .two_5_stst li:hover {
  font-weight: bold;
  color: #ffbf00;
  cursor: pointer;
}
main .two_6 {
  padding-bottom: 80px;
}
main .two_6 .header_two_6 {
  width: 80%;
  border: 1px solid grey;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  padding: 20px;
  font-size: 30pt;
  margin: 40px auto;
}
main .two_6 .text_contact {
  width: 80%;
  text-align: start;
  padding: 20px;
  margin: 40px auto;
}
main .two_6 .text_contact .text_contact_1 {
  font-size: 20pt;
  padding-bottom: 20px;
}
main .two_6 .text_contact .text_contact_1 .bold {
  font-weight: bold;
}
main .two_6 .text_contact p {
  text-align: justify;
  font-size: 15pt;
}
main .two_6 .contact {
  width: 80%;
  padding: 20px;
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
main .two_6 .contact .info {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-self: center;
  gap: 20px;
}
main .two_6 .contact .info div {
  margin: auto;
}
main .two_6 .contact .info img {
  width: 150px;
  height: 150px;
}
main .two_6 h3 {
  width: 80%;
  padding: 20px;
  margin: 40px auto;
  text-transform: uppercase;
  font-size: 26pt;
  text-align: center;
}
nav {
  position: fixed;
  top: 50%;
  right: 2%;
  transform: translate(0, -50%);
  z-index: 1;
  width: 50px;
  background-color: #ffbf00;
  padding: 10px;
  flex-direction: column;
  gap: 30px;
  border-radius: 30px;
}
nav img {
  width: 100%;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(210, 210, 210, 0.397);
  display: none;
}
.overlay .base {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 52%;
  height: 59%;
  background-color: #7d7d7d;
}
.overlay .popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 55%;
  background-color: white;
  box-shadow: 0 0 20px 2px #a3a3a3;
  display: grid;
  grid-template-columns: 1fr;
}
.overlay .popup .popup_block {
  width: 60%;
  justify-self: end;
  align-self: center;
  padding: 2%;
}
.overlay .popup .popup_block h1 {
  text-transform: uppercase;
  margin-bottom: 2%;
  text-align: center;
}
.overlay .popup .popup_block p {
  font-size: 10pt;
  margin-bottom: 2%;
  width: 90%;
  text-align: justify;
  margin: auto;
}
.overlay .popup .popup_block form {
  text-align: center;
}
.overlay .popup .popup_block form .email {
  margin-bottom: 2%;
  border: none;
  border-bottom: 1px solid #7d7d7d;
  width: 80%;
  padding: 10px;
}
.overlay .popup .popup_block form .email::placeholder {
  color: #7d7d7d;
  text-align: center;
}
.overlay .popup .popup_block .sub {
  text-transform: uppercase;
  font-size: 14pt;
  padding: 12px 58px;
  border: none;
  background-color: #7d7d7d;
  border-radius: 30px;
  margin: 3% 0;
}
.overlay .popup .popup_block .text2 {
  width: 50%;
}
.overlay .popup .close_popup {
  position: absolute;
  top: 2%;
  right: 1%;
  cursor: pointer;
}
.overlay .popup_img {
  position: absolute;
  top: 15%;
  left: 15%;
}
.overlay .popup_img img {
  width: 280px;
  height: 350px;
  box-shadow: 0 0 20px 2px #7d7d7d;
}
.overlay_aloe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(210, 210, 210, 0.397);
  display: none;
}
.overlay_aloe .popup_aloe {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}
.overlay_aloe .popup_aloe .nav_popup {
  display: grid;
  grid-template-columns: 3fr 7fr 1fr;
}
.overlay_aloe .popup_aloe .nav_popup img {
  width: 20px;
  height: 20px;
  align-self: center;
  cursor: pointer;
}
.overlay_aloe .popup_aloe .nav_popup .one {
  background-color: #246e52;
  color: white;
  padding: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  width: 70%;
}
.overlay_aloe .popup_aloe .nav_popup div:nth-child(2) {
  background-color: white;
  display: flex;
  padding: 10px 20px;
  margin: 10px;
}
.overlay_aloe .popup_aloe .nav_popup div:nth-child(2) input {
  width: 100%;
  border: none;
  padding: 5px 10px;
  border-bottom: 1px solid grey;
}
.overlay_aloe .popup_aloe .nav_popup div:nth-child(3) {
  display: flex;
  gap: 2%;
  align-items: center;
  justify-content: center;
}
.overlay_aloe .popup_aloe .center_aloe {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(8, minmax(20px, 80px));
}
.overlay_aloe .popup_aloe .center_aloe div:nth-child(1) {
  grid-column: 1 / span 4;
  grid-row: 1 / span 8;
  background-color: white;
}
.overlay_aloe .popup_aloe .center_aloe div:nth-child(2) {
  grid-column: 5 / span 9;
  grid-row: 1 / span 8;
  background-color: #246e52;
}
.overlay_aloe .popup_aloe .center_aloe div:nth-child(3) {
  grid-column: 8 / span 5;
  grid-row: 3 / span 5;
  color: white;
}
.overlay_aloe .popup_aloe .center_aloe div:nth-child(3) h4 {
  text-transform: uppercase;
  margin-bottom: 5%;
  font-size: 15pt;
}
.overlay_aloe .popup_aloe .center_aloe div:nth-child(3) h1 {
  text-transform: uppercase;
  font-size: 30pt;
}
.overlay_aloe .popup_aloe .center_aloe .aloe {
  grid-column: 2 / span 5;
  grid-row: 2 / span 5;
}
.overlay_aloe .popup_aloe .center_aloe .aloe img {
  width: 100%;
  height: 100%;
}
.overlay_aloe .popup_aloe .center_aloe .aloe .text {
  background-color: transparent;
}
.overlay_aloe .popup_aloe .center_aloe .aloe .text p {
  color: #246e52;
}
.overlay_aloe .popup_aloe .aloe_grid {
  width: 46%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  position: absolute;
  top: 68%;
  left: 57%;
}
.overlay_aloe .popup_aloe .aloe_grid img {
  width: 100%;
  height: 100%;
}
.overlay_aloe .popup_aloe .aloe_grid .aloe_hover {
  display: none;
}
.overlay_aloe .popup_aloe .aloe_grid .aloe_text {
  padding: 5px 20px;
  font-size: 14pt;
  color: grey;
}
@media screen and (max-width: 600px) {
  main .two_5 .header_two_5 {
    font-size: 25pt;
  }
  main .two_5 .porto_flex {
    grid-template-columns: repeat(2, 1fr);
  }
  main .two_5 .two_5_stst ul {
    font-size: 16pt;
  }
  main .two_3 .header_two_3 {
    font-size: 25pt;
  }
  main .two_3 h3 {
    text-align: center;
    font-size: 18pt;
  }
  main .two_3 .rows {
    display: flex;
    flex-direction: column;
    gap: 3%;
  }
  main .two_3 .rows p {
    font-size: 14pt;
    margin-bottom: 20px;
  }
  main .two_4 .header_two_4 {
    font-size: 25pt;
  }
  main .two_4 .rows_4 {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .overlay .base {
    width: 75%;
    height: 43%;
  }
  .overlay .popup {
    width: 70%;
    height: 40%;
  }
  .overlay .popup .popup_block h1 {
    font-size: 20pt;
  }
  .overlay .popup .popup_block .sub {
    font-size: 12pt;
    padding: 10px 40px;
    cursor: pointer;
  }
  .overlay .popup .popup_block .text2 {
    width: 70%;
  }
  .overlay .popup_img {
    position: absolute;
    top: 27%;
    left: 7%;
  }
  .overlay .popup_img img {
    width: 180px;
    height: 250px;
    box-shadow: none;
  }
}
