@yellow: rgb(255, 191, 0);
@white: white;
@grey: grey;
@back-col: rgb(240, 240, 240);
@black: black;
@popup: rgb(125, 125, 125);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: auto;
    background-color: @back-col;

    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    

    img{
        width: 100%;
        height: 100%;
    }

    div:nth-child(1){
        align-self: center;
        padding: 0 40px 0 60px;
    }

    h1, h3{
        text-transform: uppercase;

        span:nth-child(2){
            color: @yellow;
        }
    }

    h1 span, h5{
        font-weight: bold;

    }

    h5{
        background-color: @yellow;
        padding: 2px 5px;
        display: inline-block;
    }

    p{
        text-align: justify;
        margin-bottom: 20px;
    }
    a{
        text-decoration: none;
        color: @white;
        background-color: @yellow;
        padding: 10px;
        border-radius: 50px;
        
        &:hover{
            background-color: @back-col;
            color: @yellow;
            border: 2px solid @yellow;
        }
    }

    h3, h5{
        margin-bottom: 20px;
    }
}


main{
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: @back-col;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .one_stat{
        width: 100%;
        background-color: @yellow;
        // height: ;

        img{
            width: 100%;
        }
    }

    .list {
        text-align: center;
        text-transform: uppercase;

        li:hover{
            color: @white;
            cursor: pointer;
        }
    }

    .two_2{
        .header_two_2{
            width: 80%;
            border: 1px solid @grey;
            text-transform: uppercase;
            font-weight: bolder;
            text-align: center;
            padding: 20px;
            font-size: 30pt;
            margin: 40px auto;
        }

        .tw_1{
            display: flex;
            flex-direction: column;
            gap: 3%;
            margin-bottom: 40px;
            text-align: justify;            
            width: 80%;
            margin: auto;

            .name_about_me{
                font-size: 20pt;
                margin-bottom: 20px;
                .nameMe{
                    font-weight: bold;
                }
            }

            .text_about_me{
                font-size: 14pt;
                margin-bottom: 20px;
            }

            .two_about_me{
                display: grid;
                grid-template-columns: 2fr 1fr;
                margin-bottom: 100px;

                .two_about_me_1{
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    color: @yellow;
                    background-color: @black;

                    .statistics{
                        height: 100%;
                        width: 100%;
                        display: grid;
                        grid-template-columns: 1fr;
                        margin: auto;
                        gap: 40px;
                        text-align: center;

                        div:nth-child(1){
                            margin: auto;
                        }

                        p{
                            color: @white;
                        }

                        .bold{
                            font-weight: bold;
                            font-size: 30pt;
                            text-align: center;
                        }
                        
                    }
                }

                .two_about_me_2{
                    margin-left: 20px;

                    h4{
                        font-size: 20pt;
                        margin-bottom: 20px
                    }
                    
                    .facts_about_me{
                        display: grid;
                        grid-template-columns: 1fr 2fr;
                        height: max-content;

                        .image{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: space-around;
                            gap: 10px;
    
                            img{
                                width: 100px;
                                height: 100px;
                            }
                        }

                        .facts_text{
                            display: flex;
                            flex-direction: column;
                            gap: 40px;
                            padding-left: 20px;
                        }
                    }
                }
            }
        }
    }
    
    .two_3{
        .header_two_3{
            width: 80%;
            border: 1px solid @grey;
            text-transform: uppercase;
            font-weight: bolder;
            text-align: center;
            padding: 20px;
            font-size: 30pt;
            margin: 40px auto;
        }

        .rows{
            display: flex;
            gap: 3%;
            margin-bottom: 40px;
            text-align: justify;

            p{
                font-size: 10pt;
            }
        }

        .tw_2{
            width: 80%;
            margin: auto;
        }

        h3{
            text-transform: uppercase;
            margin-bottom: 10px;
        }

        h4{
            margin-bottom: 10px;
        }

        .head_color{
            background-color: @yellow;
            padding: 5px;
            color: @white;
            display: inline-block;
            border-radius: 25px;
        }
        
        .h3_2{
            margin-top: 40px;
        }

        .rows2{
            margin-bottom: 80px;
        }
    }

    .two_4{
        .header_two_4{
            width: 80%;
            border: 1px solid @grey;
            text-transform: uppercase;
            font-weight: bolder;
            text-align: center;
            padding: 20px;
            font-size: 30pt;
            margin: 40px auto;
        }

        .rows_4{
            width: 80%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            // gap: 2%;
            column-gap: 2%;
            row-gap: 4%;
            margin: auto;
            margin-bottom: 80px;

            .user_photo{
                width: 150px;
            }

            .col{
                background-color: @black;
                padding: 5%;
                color: @white;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }

            .col>div:nth-child(3){
                grid-row: 2;
                grid-column: 1 /span 2;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                margin-top: 10px;
                
            }

            .star{
                img{
                    width: 20px;
                    height: 20px;
                }
            }

            .text{
                justify-self: end;
            }


            .col>div:nth-child(2){
                align-self: center;
                h3, h4, p{
                    margin-bottom: 5px;
                }
                h3{
                    font-size: 16pt;
                    color: @yellow;
                }

                h4{
                    font-size: 12pt;
                }
                p{
                    font-size: 10pt;
                    text-align: justify;
                }
            }
        }
    }

    .two_5{
        padding-bottom: 80px;

        .header_two_5{            
            width: 80%;
            border: 1px solid @grey;
            text-transform: uppercase;
            font-weight: bolder;
            text-align: center;
            padding: 20px;
            font-size: 30pt;
            margin: 40px auto;
        }

        .porto_flex{
            width: 80%;
            margin: 20px auto 0 auto;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 2%;
            row-gap: 4%;

            img{
                width: 100%;
                height: 270px;
                margin-bottom: 10px;
            }
        }

        .two_5_stst{
            ul{
                list-style-type: none;
                display: flex;
                gap: 2%;
                justify-content: center;
                margin-top: 20px;
                font-size: 16pt;

            }

            .activ{
                font-weight: bold;
                color: @yellow;
                cursor: pointer;
            }

            li:hover{
                font-weight: bold;
                color: @yellow;
                cursor: pointer;
            }
        }
    }

    .two_6{
        padding-bottom: 80px;

        .header_two_6{            
            width: 80%;
            border: 1px solid @grey;
            text-transform: uppercase;
            font-weight: bolder;
            text-align: center;
            padding: 20px;
            font-size: 30pt;
            margin: 40px auto;
        }

        .text_contact{
            width: 80%;
            text-align: start;
            padding: 20px;
            margin: 40px auto;

            .text_contact_1{
                font-size: 20pt;
                padding-bottom: 20px;

                .bold{
                    font-weight: bold;
                }
            }
            p{
                text-align: justify;
                font-size: 15pt;
            }
        }

        .contact{
            width: 80%;
            padding: 20px;
            margin: 40px auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            .info{
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-self: center;
                gap: 20px;

                div{
                    margin: auto;
                }

                img{
                    width: 150px;
                    height: 150px;
                }
            }
        }
        h3{
            width: 80%;
            padding: 20px;
            margin: 40px auto;
            text-transform: uppercase;
            font-size: 26pt;
            text-align: center;
        }
    }
    
}


nav{
    position: fixed;
    top: 50%;
    right: 2%;
    transform: translate(0, -50%);

    z-index: 1;
    width: 50px;
    background-color: @yellow;
    padding: 10px;

    // display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 30px;

    img{
        width: 100%;
    }
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(210, 210, 210, 0.397);
    display: none;

    .base{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 52%;
        height: 59%;
        background-color: @popup;

    }

    
    .popup{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 55%;
        background-color: @white;        
        box-shadow: 0 0 20px 2px rgb(163, 163, 163);

        display: grid;
        grid-template-columns: 1fr;

        .popup_block{
            width: 60%;
            justify-self: end;
            align-self: center;
            padding: 2%;

            h1{
                text-transform: uppercase;
                margin-bottom: 2%;
                text-align: center;
            }

            p{
                font-size: 10pt;
                margin-bottom: 2%;
                width: 90%;
                text-align: justify;
                margin: auto;
            }

            form{
                text-align: center;

                .email{
                    margin-bottom: 2%;
                    border: none;
                    border-bottom: 1px solid @popup;
                    width: 80%;
                    padding: 10px;

                    &::placeholder{
                        color: @popup;
                        text-align: center;
                    }
                }
            }
            .sub{
                text-transform: uppercase;
                font-size: 14pt;
                padding: 12px 58px;
                border: none;
                background-color: @popup;
                border-radius: 30px;
                margin: 3% 0;
            }

            .text2{
                width: 50%;
            }
        }

        .close_popup{
            position: absolute;
            top: 2%;
            right: 1%;
            cursor: pointer;
        }

    }
    .popup_img{
        position: absolute;
        top: 15%;
        left: 15%;

        img{
            width: 280px;
            height: 350px;
            box-shadow: 0 0 20px 2px @popup;
        }
    }
}


@aloe-bac: rgb(36, 110, 82);
.overlay_aloe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(210, 210, 210, 0.397);
    display: none;

    .popup_aloe{
        width: 70%;
        position: absolute;
        top: 50%;
        left: 50%;        
        transform: translate(-50%, -50%);
        background-color: @white;
        
        .nav_popup{
            display: grid;
            grid-template-columns: 3fr 7fr 1fr;

            img{
                width: 20px;
                height: 20px;
                align-self: center;
                cursor: pointer;
            }
            

            .one{
                background-color: @aloe-bac;
                color:@white;
                padding: 20px;
                text-transform: uppercase;
                text-align: center;
                font-weight: bold;
                width: 70%;
            }
            div:nth-child(2){
                background-color: @white;
                display: flex;
                padding: 10px 20px;
                margin: 10px;

                input{
                    width: 100%;
                    border: none;
                    padding: 5px 10px;
                    border-bottom: 1px solid @grey;
                }
            }

            div:nth-child(3){
                display: flex;
                gap: 2%;
                align-items: center;
                justify-content: center;
            }
        }

        .center_aloe{
            display: grid;
            grid-template-columns: repeat(13, 1fr);
            grid-template-rows: repeat(8, minmax(20px, 80px));

            div:nth-child(1){ //зеленый блок (фон)
                grid-column: 1/span 4;
                grid-row: 1/span 8;
                background-color: @white;
            }
            div:nth-child(2){ //белый блок (фон)
                grid-column: 5/span 9;
                grid-row: 1/span 8;
                background-color: @aloe-bac;
            }
            div:nth-child(3){ //текстовые поля
                grid-column: 8/span 5;
                grid-row: 3/span 5;
                color: @white;

                h4{
                    text-transform: uppercase;
                    margin-bottom: 5%;
                    font-size: 15pt;
                }

                h1{
                    text-transform: uppercase;
                    font-size: 30pt;
                }
            }

            .aloe{
                grid-column: 2/span 5;
                grid-row: 2/span 5;

                img{
                    width: 100%;
                    height: 100%;
                }

                .text{
                    background-color: transparent;

                    p{
                        color: @aloe-bac;
                    }
                    // p:nth-child(2){

                    // }
                }
            }
        }

        .aloe_grid{
            width: 46%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 30px;

            position: absolute;
            top: 68%;
            left: 57%;

            img{
                width: 100%;
                height: 100%;
            }

            .aloe_hover{
                //блоки при наведении
                display: none;
            }

            .aloe_text{
                padding: 5px 20px;
                font-size: 14pt;
                color: @grey;
            }
        }
    }
}

@med-width: 600px;

@media screen and (max-width: @med-width){
    main{
        .two_5{        
            .header_two_5{            
                font-size: 25pt;
            }
        
            .porto_flex{
                grid-template-columns: repeat(2, 1fr);
            }
        
            .two_5_stst{
                ul{
                    font-size: 16pt;
                }
        
                // .activ{
                //     font-weight: bold;
                //     color: @yellow;
                //     cursor: pointer;
                // }
        
                // li:hover{
                //     font-weight: bold;
                //     color: @yellow;
                //     cursor: pointer;
                // }
            }
        }
    
    }


    .overlay{
    
        .base{
            width: 75%;
            height: 43%;
        }
        
        .popup{
            width: 70%;
            height: 40%;
    
            .popup_block{
    
                h1{
                    font-size: 20pt;
                }
                .sub{
                    font-size: 12pt;
                    padding: 10px 40px;
                    cursor: pointer;
                }
    
                .text2{
                    width: 70%;
                }
            }
    
        }
        .popup_img{
            position: absolute;
            top: 27%;
            left: 7%;
    
            img{
                width: 180px;
                height: 250px;
                box-shadow: none;
            }
        }
    }

    
}